{% extends 'layout.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<p class="sign" align="center">Sign in</p>
{% for message in messages %}
<div>
    <p style="color: green;">{{ message | safe  }}</p>
</div>
{% endfor %}
<form class="form1" method="POST">
    {% csrf_token %}
    <input class="un " type="email" align="center" name="email" placeholder="Email">
    <input class="pass" type="password" align="center" name="password" placeholder="Password">
    <button  type="submit" class="submit" align="center">Sign in</button>
    <p class="forgot" align="center"><a >Forgot Password?</p>
</form>
{% endblock %}