{% extends 'layout.html' %}

{% block title %}
Register
{% endblock %}

{% block content %}
<p class="sign" align="center">Sign in</p>
<form class="form1" method="POST">
    {% for message in messages %}
    <div>
        <p style="color: red;">{{ message | safe  }}</p>
    </div>
    {% endfor %}
   {% csrf_token %}
    <input class="un" type="text" align="center" name="name" placeholder="Username">
    <input class="un" type="email" align="center" name="email" placeholder="Email">
    <input class="pass" type="password" align="center" name="password" placeholder="Password">
    <button  type="submit" class="submit" align="center">Sign in</button>
    <p class="forgot" align="center"><a href="#">Forgot Password?</p>
</form>
{% endblock %}