{% extends 'layout.html' %}

{% block title %}
Register
{% endblock %}

{% block content %}
<p class="sign" align="center">Sign in</p>

{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ message | safe}}
</div>
{% endfor %}
<form class="form1" method="POST">
   {% csrf_token %}
    <input class="un " type="text" align="center" placeholder="Username">
    <input class="un " type="email" align="center" placeholder="Email">
    <input class="pass" type="password" align="center" placeholder="Password">
    <button  type="submit" class="submit" align="center">Sign in</button>
    <p class="forgot" align="center"><a href="#">Forgot Password?</p>
</form>
{% endblock %}